<!-- app/views/shared/_screener.html.erb -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>

  <script type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
          async>
  {
    "market": "crypto",
    "showToolbar": true,
    "defaultColumn": "overview",
    "defaultScreen": "general",
    "isTransparent": false,
    "locale": "en",
    "colorTheme": "light",
    "largeChartUrl": "http://localhost:3000/dashboard",
    "width": "100%",
    "height": 700
  }
  </script>
</div>
