<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your alert criteria have been met!</h1>
    <p>
      Log in to see how the market is doing
    </p>
    <p>- From the Market Sensei team</p>
  </body>
</html>