<!-- Hero Section -->



<section class="hero-section">
  <div class="container">
    <div class="row align-items-center mt-5 mx-5">
        <h1 class="hero-title exo-2-bold text-center">
          Market <span class="text-teal">Sensei</span>
        </h1>
            <h2 class="hero-subtitle exo-2-regular text-center mt-2">
            Master the Markets with <span class="text-teal">AI-Powered</span> Trading Intelligence
            </h2>
            <p class="hero-description text-center mx-5 mt-2">
            All-in-one platform: lightning-fast trading terminal, powerful market screener, and AI Chartism Sensei to help you master technical analysis. No sign-up required, explore smarter trading and learning today.
            </p>
        <div class="hero-buttons text-center mt-5">
          <%= link_to "Start Trading", "#", class: "btn btn-primary btn-lg" %>
          <%= link_to "Learn More", "#", class: "btn btn-outline-secondary btn-lg ms-3" %>
        </div>
    </div>
  </div>
</section> 